<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/cloudy.png" type="image/x-icon">
    <script scr="/js/app.js"> </script>
     <title>about</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3> Hey there , I am Jatin sonwal . A fourth year undergraduate at Delhi Technological 
            university.
        </h3>
        
    </div>
    {{>footer}}
</body>
</html>