<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/cloudy.png" type="image/x-icon">
    <script scr="/js/app.js"> </script>
     <title>help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>{{help}}</h1>
    </div>
     {{>footer}}
</body>
</html>